<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF_ZooManager.Properties.Settings.MantasDBConnectionString"
            connectionString="Data Source=DESKTOP-K67QJP2\MANTASSQL;Initial Catalog=MantasDB;Persist Security Info=True;User ID=sa;Password=m1shumis"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>