<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Wpf_ZooManager.Properties.Settings.PanjutorialsDBConnectionString"
            connectionString="Data Source=DESKTOP-K67QJP2\PANJUTORIALSSQL;Initial Catalog=PanjutorialsDB;Persist Security Info=True;User ID=sa;Password=m1shumis;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>